<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="./css/element-ui.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app">
        <el-container class="index-container">
            <el-aside width="200px">
                <div class="index-left">
                    <div class="circular">
                        <svg viewBox="0 0 100 100">
                            <path d="M 0,50 a 50,50 0 1,1 0,1 z" id="circle" />
                            <text>
                                <textPath xlink:href="#circle"> v i m p a r e . g i t h u b . i o </textPath>
                            </text>
                        </svg>
                    </div>
                    <div class="-tips">Rome was not built in one day</div>
                </div>
            </el-aside>
            <el-main class="index-main">
                <div class="index-cards">

                </div>
                <el-row :gutter="20" class="cards-row">
                    <el-col v-for="item,index in menuList" class="cards-wrap">
                        <el-card class="box-card" shadow="hover">
                            <div slot="header" class="clearfix">
                                <span>{{item.title}}</span>
                            </div>
                            <div v-for="item2,index2 in item.childrens" class="text item">
                                <a :href="item2.href" class="cards-href">{{item2.title}}</a>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="1">处理中心</el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">我的工作台</template>
                        <el-menu-item index="2-1">选项1</el-menu-item>
                        <el-menu-item index="2-2">选项2</el-menu-item>
                        <el-menu-item index="2-3">选项3</el-menu-item>
                    </el-submenu>
                </el-menu>
                <div class="line"></div>
                <el-row class="pages-box">
                    <el-col :span="12" v-for="(o, index) in 5" :key="o" :offset="index > 0 ? 2 : 0" class="pages-item">
                        <el-card :body-style="{ padding: '0px' }">
                            <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                                class="image">
                            <div style="padding: 14px;">
                                <a href="https://vimpare.github.io/pages/Magnifier/index.html" title="放大镜">放大镜</a>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>

            </el-main>

        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<script src="./js/vue.js"></script>
<!-- import JavaScript -->
<script src="./js/element-ui.js"></script>
<script src="./js/menuList.js"></script>
<script>
    // let menuList =menuList ;
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                menuList: menuList,
                activeNames: ['1'],
                activeIndex: '1',
                activeIndex2: '1',
                currentDate: new Date()
            }
        },
        methods: {
            handleChange(val) {
                console.log(val);
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    })
</script>

</html>
