<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="./css/element-ui.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-aside width="200px">
                <div class="index-left">ffff</div>
            </el-aside>
            <el-main>
                <div class="index-cards">
                    
                </div>
                <el-row :gutter="20">
                    <el-col :span="6" v-for="item,index in menuList"><el-card class="box-card" shadow="hover" >
                        <div slot="header" class="clearfix">
                            <span>{{item.title}}</span>
                        </div>
                        <div v-for="item2,index2 in item.childrens" class="text item">
                            <a :href="item2.href" class="cards-href">{{item2.title}}</a>
                        </div>
                    </el-card></el-col>
                  </el-row>
            </el-main>

        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<script src="./js/vue.js"></script>
<!-- import JavaScript -->
<script src="./js/element-ui.js"></script>
<script src="./js/menuList.js"></script>
<script>
    // let menuList =menuList ;
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                menuList: menuList,
                activeNames: ['1']
            }
        },
        methods: {
            handleChange(val) {
                console.log(val);
            }
        }
    })
</script>

</html>
